<section class="wish-section">
  <div class="wish-cover">
    <div class="container">
      <div class="row wish-content">
        <div class="col-md-6 col-md-offset-3">
          <span class="wish-intro"> Vous avez des idées pour votre ville ?<br />Vous n'êtes pas le seul !</span>
          <%= bootstrap_form_for(@wish, class: 'form') do |f| %>
            <% if @wish.user %>
              <%= f.hidden_field :user_id %>
            <% else %>
              <%= f.email_field :email, placeholder: "E-mail", required: true %>
            <% end %>
            <%= f.text_field :city, label: "Ville", id: "user_input_autocomplete_address", placeholder: "Nom de la ville concernée", required: true %>
            <%= f.text_area :content, label: "Que souhaitez-vous ?", placeholder: "Décrivez votre voeux, aidez vos élus a améliorer votre ville ", required: true %>
            <%= f.submit  "Faites un Voeux!", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>