<% title "Make a wish" %>
<% meta_description %>


<div class="container-fluid no-padding">
  <section class="section-wish">
    <div class="wish-cover">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="survey">
          <span class="survey-title"><%= t 'wishform.maintitle.survey' %></span>
          <span class="survey-subtitle"><%= t 'wishform.subtitle.survey' %></span>
          <div class="survey-item">
            <a class="btn btn-survey" href="http://app.vizir.co/survey.html#/6305/Fluicity%20-%20Citoyens/1" rel=""><%= t 'wishform.survey.citizen' %></a>
          </div>
          <div class="survey-item">
            <% if I18n.locale == :nl %>
            <a class="btn btn-survey nl-button" href="http://app.vizir.co/survey.html#/8566/Fluicity%20-%20Elus/1" rel=""><%= t 'wishform.survey.representatives' %></a>
            <% else %>
            <a class="btn btn-survey" href="http://app.vizir.co/survey.html#/8566/Fluicity%20-%20Elus/1" rel=""><%= t 'wishform.survey.representatives' %></a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="wish-form">
          <span class="wish-title"><%= t 'wishform.maintitle.wish' %></span>
          <span class="wish-subtitle"><%= t 'wishform.subtitle.wish' %></span>
          <%= bootstrap_form_for(@wish, class: 'form') do |f| %>
            <% if @wish.user %>
              <%= f.hidden_field :user_id %>
            <% else %>
              <%= f.email_field :email, placeholder: I18n.translate('wishform.placeholder.email'), required: true %>
            <% end %>
            <%= f.text_field :city, label: "Ville", id: "user_input_autocomplete_address", placeholder: I18n.translate('wishform.placeholder.city'), required: true, class: "form-control" %>
            <%= f.text_area :content, label: "Que souhaitez-vous ?", placeholder: I18n.translate('wishform.placeholder.message') , required: true, rows: 5, class: "text-control" %>
            <%= f.submit  I18n.translate('wishform.button'), class: "btn btn-wish"%>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>