<% title "Make a wish" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'><%= t 'wish.wish_header' %></em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-wish">
  <div class="container">
    <div class="col-md-6">
      <h2><%= t 'wish.wish_surveytitle' %></h2>
      <%= t 'wish.wish_survey_html' %>
      <div class="survey-container">
        <div class="join-survey">
          <div class="join-survey-cover">
            <%= link_to survey_path, :class => "animsition-link" do %>
              <div class="survey-overlay"></div>
              <h4><%= t 'wish.wish_surveybutton' %></h4>
            <% end %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2><%= t 'wish.wish_formtitle' %></h2>
      <p><%= t 'wish.wish_formintro' %></p>
      <div class='wish-form'>
        <%= bootstrap_form_for(@wish, class: 'form') do |f| %>
          <% if @wish.user %>
            <%= f.hidden_field :user_id %>
          <% else %>
            <%= f.email_field :email, placeholder: I18n.translate('wish.wish_placeholder_email'), required: true %>
          <% end %>
          <%= f.text_field :city, label: "Ville", id: "user_input_autocomplete_address", placeholder: I18n.translate('wish.wish_placeholder_city'), required: true, class: "form-control" %>
          <%= f.text_area :content, label: "Que souhaitez-vous ?", placeholder: I18n.translate('wish.wish_placeholder_message') , required: true, rows: 5, class: "text-control" %>
          <%= f.submit  I18n.translate('wish.wish_formbutton'), class: "button button-wish"%>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= link_to vision_path do %>
  <div class="next-page">
    <div class="next-overlay"></div>
      <span><%= t 'next.vision' %></span>
    </div>
  </a>
<% end %>