<section class="section-wish">
  <div class="wish-cover">
    <div class="container">
      <div class="row wish-form">
        <div class="col-md-6 col-md-offset-3">
          <span><%= t 'wishform.maintitle' %><br /><%= t 'wishform.subtitle' %></span>
          <%= bootstrap_form_for(@wish, class: 'form') do |f| %>
            <% if @wish.user %>
              <%= f.hidden_field :user_id %>
            <% else %>
              <%= f.email_field :email, placeholder: I18n.translate('wishform.placeholder.email'), required: true %>
            <% end %>
            <%= f.text_field :city, label: "Ville", id: "user_input_autocomplete_address", placeholder: I18n.translate('wishform.placeholder.city'), required: true, class: "form-control" %>
            <%= f.text_area :content, label: "Que souhaitez-vous ?", placeholder: I18n.translate('wishform.placeholder.message') , required: true, rows: 5, class: "text-control" %>
            <%= f.submit  I18n.translate('wishform.button'), class: "btn btn-wish"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>