<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-sm-3">
          <ul>
            <li><%= link_to "L'équipe", team_path, class: "animsition-link" %></li>
            <li><%= link_to "Mentions Légales", faq_path, class: "animsition-link" %></li>
            <li><%= link_to "CGV", faq_path, class: "animsition-link" %></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><%= link_to "Recrutement", jobs_path, class: "animsition-link" %></li>
            <li><%= link_to "Presse", press_path, class: "animsition-link" %></li>
            <li><%= link_to "Médias", press_path, class: "animsition-link" %></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li><%= link_to "F.A.Q", faq_path, class: "animsition-link" %></li>
            <li>
              <%= link_to "https://medium.com/@Fluicities", :class => "animsition-link" do %>
                Blog
              <% end %>
            </li>
            <li><%= link_to "Contact", contact_path, class: "animsition-link" %></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li>
              <i class="fa fa-facebook"></i>
              <%= link_to "https://www.facebook.com/fluicity/", :class => "animsition-link" do %>
                Facebook
              <% end %>
            </li>
            <li>
            <i class="fa fa-twitter"></i>
              <%= link_to "https://www.twitter.com/fluicities/", :class => "animsition-link" do %>
                Twitter
              <% end %>
            </li>
            <li>
              <i class="fa fa-linkedin"></i>
              <%= link_to "https://www.linkedin.com/company/fluicity", :class => "animsition-link" do %>
                Linkedin
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
     <div class="row">
        <div class="col-md-12 copyright">
          <span>© 2015 - Fluicity</span>
        </div>
      </div>
  </div>
</footer>

