<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation" id="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag "fluicity_2.png", id: "logo" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to contact_path do %>
            <i class="fa fa-envelope-o"></i><%= t 'menu.contact'%>
          <% end %>
        </li>
      <ul class="nav navbar-nav navbar-middle">
        <li>
          <%= link_to new_wish_path do %>
            <i class="fa fa-quote-left"></i><%= t 'menu.wish'%>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown" id="last-link">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/"><%= t 'menu.language.french' %></a>
            </li>
            <li>
              <a href="/en"><%= t 'menu.language.english' %></a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="nav navbar-nav navbar-middle social">
        <a href="https://www.facebook.com/fluicity" target="_blank" rel="nofollow" alt="Facebook Fluicity"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://twitter.com/fluicities" target="_blank" rel="nofollow" alt="Twitter Fluicity"><i class="fa fa-twitter-square fa-2x"></i></a>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
