<% if params[:action] == 'survey' %>
  <nav class="navbar navbar-default navbar-fixed-top navbar-wagon survey" role="navigation" id="navbar">
<% else %>
  <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation" id="navbar">
<% end %>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brand" class="navbar-brand animsition-link" href="/">
        <%= image_tag "logo/fluicity_logo.png", id: "logo" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "/", :class => "animsition-link" do %>
            <%= t 'menu.home' %>
          <% end %>
        </li>
        <li>
          <%= link_to vision_path, :class => "animsition-link" do %>
            <%= t 'menu.vision' %>
          <% end %>
        </li>
        <li>
          <%= link_to features_path, :class => "animsition-link" do %>
            <%= t 'menu.features' %>
          <% end %>
        </li>
        <li>
          <%= link_to new_wish_path, :class => "animsition-link" do %>
            <%= t 'menu.wish' %>
          <% end %>
        </li>
        <li>
          <%= link_to team_path, :class => "animsition-link" do %>
            <%= t 'menu.team' %>
          <% end %>
        </li>
        <li>
          <%= link_to "https://medium.com/@Fluicities", :class => "animsition-link" do %>
            <%= t 'menu.blog' %>
          <% end %>
        </li>
         <li>
          <%= link_to contact_path, :class => "animsition-link" do %>
            <%= t 'menu.contact' %>
          <% end %>
        </li>
        <!-- <li class="dropdown" id="last-link">
          <a href="#" class="dropdown-toggle free" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/"><#%= t 'menu.language.french' %></a>
            </li>
            <li>
              <a href="/en"><#%= t 'menu.language.english' %></a>
            </li>
            <li>
              <a href="/nl"><#%= t 'menu.language.dutch' %></a>
            </li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
