<section class="newsletter form-inline">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <span><%= t 'newsletter.disclaimer' %></span>
        <%= form_for(@user) do |f| %>
        <%= f.text_field :email, placeholder: I18n.translate('newsletter.placeholder.email'), class: 'form-control' %>
        <!-- Include Google Maps JS API -->
        <input id="user_input_autocomplete_address" name="city" placeholder="<%= t 'newsletter.placeholder.city' %>" class="form-control">
        <!-- <%= f.collection_select :role, @roles, :value, :text, {}, { class: "form-control" } %>-->
        <%=  f.button I18n.translate('newsletter.button') , class: "btn btn-newsletter"  %>
        <% end %>
      </div>
    </div>
  </div>
</section>