<section id="timeline">

  <div class="container text-center">
    <h2 class="title-timeline"><%= t 'timeline.introduction' %></h2>
  </div>

  <div class="container-timeline">
    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-question"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2><%= t 'timeline.firststep.title' %></h2>
        <p><%= t 'timeline.firststep.description' %></p>
      </div> <!-- timeline-content -->
      <div class="timeline-content">
        <h2><%= t 'timeline.firststep.title' %></h2>
        <p><%= t 'timeline.firststep.description' %></p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-wrench fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2><%= t 'timeline.secondstep.title' %></h2>
        <p><%= t 'timeline.secondstep.description' %></p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-mobile fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2><%= t 'timeline.thirdstep.title' %></h2>
        <p><%= t 'timeline.thirdstep.description' %></p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-share-alt fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2><%= t 'timeline.fourthstep.title' %></h2>
        <p><%= t 'timeline.fourthstep.description' %></p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-bar-chart fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2><%= t 'timeline.fifthstep.title' %></h2>
        <p><%= t 'timeline.fifthstep.description' %></p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

  </div>
</section>