<section id="timeline">
  <div class="container-timeline">

    <div class="timeline-block">
      <div class="timeline-img">
        <%= image_tag "timeline-step.jpg", id: "" %>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Title of section 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <%= image_tag "timeline-step.jpg", id: "" %>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Title of section 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <%= image_tag "timeline-step.jpg", id: "" %>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Title of section 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <%= image_tag "timeline-step.jpg", id: "" %>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Title of section 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <%= image_tag "timeline-step.jpg", id: "" %>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Title of section 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

  </div>
</section>