<section class="timeline">

  <div class="container text-center">
    <h2 class="title-timeline"><%= t 'timeline.introduction' %></h2>
  </div>

  <div class="container-timeline">
    <div class="col-xs-6 citizen-container">
    <h3 class="title-citizen"><%= t 'timeline.citizen.title' %></h2>
      <div class="citizen-action">
        <i class="fa fa-mobile"></i>
        <p><%= t 'timeline.citizen.step_1' %></p>
      </div> <!-- timeline-content -->
      <div class="citizen-action">
        <i class="fa fa-comment"></i>
        <p><%= t 'timeline.citizen.step_2' %></p>
      </div> <!-- timeline-content -->
      <div class="citizen-action">
        <i class="fa fa-lightbulb-o"></i>
        <p><%= t 'timeline.citizen.step_3' %></p>
      </div> <!-- timeline-content -->
    </div>
    <div class="col-xs-6 representatives-container">
      <h3 class="title-representatives"><%= t 'timeline.representatives.title' %></h2>
      <div class="representatives-action">
        <i class="fa fa-mobile"></i>
        <p><%= t 'timeline.representatives.step_1' %></p>
      </div> <!-- timeline-content -->
      <div class="representatives-action">
        <i class="fa fa-line-chart"></i>
        <p><%= t 'timeline.representatives.step_2' %></p>
      </div> <!-- timeline-content -->
      <div class="representatives-action">
        <i class="fa fa-crosshairs"></i>
        <p><%= t 'timeline.representatives.step_3' %></p>
      </div> <!-- timeline-content -->
    </div>

  </div>

</section>