<% title "Contact" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'>Nous contacter</em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-contact">
  <div class="container">
    <div class="col-md-6">
      <h2>Rendez-nous visite</h2>
      <address>
        <strong>Fluicity</strong><br>
        26, rue du chemin vert<br>
        75011 Paris<br>
        <abbr title="Phone">P:</abbr> 01.44.88.91.57
      </address>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1312.4969388014947!2d2.372637760201801!3d48.858327137885816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66dfed506aee7%3A0xe8aea08aced651d8!2s26+Rue+du+Chemin+Vert%2C+75011+Paris!5e0!3m2!1sen!2sfr!4v1450090432248" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <h2>Contactez-nous</h2>
      <p><%= t 'contact.disclaimer' %></p>
      <div class='contact-form'>
        <%= bootstrap_form_for(@user) do |f| %>
          <%= f.collection_select :role, @roles, :value, :text, {}, class: "form-control select-control"%>
          <%= f.text_field :email, placeholder: I18n.translate('contact.placeholder.email')%>
          <!-- Include Google Maps JS API -->
          <%= text_field_tag :user_input_autocomplete_address, "", placeholder: I18n.translate('contact.placeholder.city'), class: "form-control"%>
          <div class="form-group">
            <%= text_area_tag :text,  "", placeholder: I18n.translate('contact.placeholder.message'), rows: 5, class: "form-control text-control" %>
          </div>
          <%=  f.submit I18n.translate('contact.button'), class: "button button-contact" %>
        <% end %>
      </div>

    </div>
  </div>
</section>