<div class = "container contact-section">

      <div class="col-md-8 col-md-offset-2">

          <div class='row contact-form'>
            <%= bootstrap_form_for(@user) do |f| %>
              <div class = "col-sm-6">
                <%= f.text_field :email %>
                <!-- Include Google Maps JS API -->
                <label> Votre ville </label>
                <%= text_field_tag :user_input_autocomplete_address, "", class: "form-control"%>
                <%= f.collection_select :role, @roles, :value, :text, {}%>
                <p id="enter_location_error_message" class="bad hide">
                  Merci d'entrer un emplacement
                <div class="form-group">
                  <label>Votre message</label>
                  <%= text_area_tag :text, "", class: "form-control", rows: 4 %>
                </div>
                <%=  f.submit "Envoyer", class: "btn btn-default" %>
              </div>

              <div class = "col-sm-6">
                <!-- app/views/flats/index.html.erb -->

                <div id="map" style="width: 100%; height: 327px;"></div>

                <% content_for(:js) do %>
                  <%= javascript_tag do %>
                    $(document).on('ready', function() {
                      handler = Gmaps.build('Google');
                      handler.buildMap({ internal: { id: 'map' } }, function(){
                        markers = handler.addMarkers([
                          { lat: 50.7361150, lng: 4.4743420, infowindow: "111, chaussée de bruxelles, 1310 La Hulpe, BELGIQUE" }
                        ]);
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                        handler.getMap().setZoom(9);
                      });
                    })
                  <% end %>
                <% end %>
             </div>

            <% end %>
          </div>
      </div>




    </div>
  </div>
</div>