<section class="section-contact">
  <div class="contact-cover">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
          <div class='row contact-form'>
            <%= bootstrap_form_for(@user) do |f| %>
              <%= f.text_field :email, placeholder: 'Votre email'%>
            <!-- Include Google Maps JS API -->
            <%= text_field_tag :user_input_autocomplete_address, "", placeholder: 'Votre message', class: "form-control"%>
            <%= f.collection_select :role, @roles, :value, :text, {}, class: "form-control"%>
            <p id="enter_location_error_message" class="bad hide">Merci d'entrer un emplacement</p>
            <div class="form-group">
              <%= text_area_tag :text,  "", placeholder: 'Votre message', class: "form-control", rows: 5 %>
            </div>
            <%=  f.submit "Envoyer", class: "btn btn-contact" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>