<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'><%= t 'faq.faq_header' %></em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-faq">
  <div class="container">
    <div class="faq-content">
      <ol id="faq-questions">
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_1' %></span>
          <div class="answer">
            <%= t 'faq.answer_1_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_2' %></span>
          <div class="answer">
            <%= t 'faq.answer_2_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_3' %></span>
          <div class="answer">
            <%= t 'faq.answer_3_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_4' %></span>
          <div class="answer">
            <%= t 'faq.answer_4_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_5' %></span>
          <div class="answer">
            <%= t 'faq.answer_5_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_6' %></span>
          <div class="answer">
            <%= t 'faq.answer_6_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_7' %></span>
          <div class="answer">
            <%= t 'faq.answer_7_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_8' %></span>
          <div class="answer">
            <%= t 'faq.answer_8_html' %>
          </div>
        </li>
        <li class="question-bloc">
          <span class="question"><i class="fa fa-angle-right"></i><%= t 'faq.question_9' %></span>
          <div class="answer">
            <%= t 'faq.answer_9_html' %>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>