<% title "Home" %>
<% meta_description %>
<% meta_image %>

<!-- HOME | HEADER + CTA DOWNLOADS -->
<header id="#cover">
  <div class="header-background">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
            <!-- <img src="<#%= image_url 'logo-fluicity-white.png' %>"> -->
            <h1 class="home-description">
              <%= t 'home.header.title_part1' %><br>
              <em class='highlight'><%= t 'home.header.title_part2' %></em>
            </h1>
            <button href="#" class="button button-download appstore">
              <i class="devicon-apple-original"></i>
              <span><%= t 'button.download_apple' %></span>
            </button>
            <button href="https://play.google.com/store/apps/details?id=city.flui.android" class="button button-download playstore">
              <i class="devicon-android-plain"></i>
              <span><%= t 'button.download_android' %></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- SECTION 1 | VISION -->
<section class="vision">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="description">
          <%= t 'home.vision.vision_part1' %><br>
          <%= t 'home.vision.vision_part2' %><br>
          <%= t 'home.vision.vision_part3' %>
        </span>
        <span class="description enhance"><%= t 'home.vision.vision_highlight' %></span>
        <!-- Link to Vision Page -->
        <%= link_to I18n.translate('home.vision.vision_button'), vision_path, class: "button button-vision animsition-link" %>
      </div>
    </div>
  </div>
  <div class="shapes-bottom"></div>
</section>

<!-- SECTION 2 | FEATURES -->
<section class="features">
  <!-- Blured Background Image -->
  <div class="features-cover"></div>
  <!-- Darken filter -->
  <div class="features-overlay"></div>
  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Features items -->
        <ul id="item-list" class="item-list">
          <li id="item-1" class="item active">
            <i class="question"><%= t 'home.features.features_question1' %></i><%= t 'home.features.features_answer1' %>
          </li>
          <li id="item-2" class="item">
            <i class="question"><%= t 'home.features.features_question2' %></i><%= t 'home.features.features_answer2' %>
          </li>
          <li id="item-3" class="item">
            <i class="question"><%= t 'home.features.features_question3' %></i><%= t 'home.features.features_answer3' %>
          </li>
          <%= link_to I18n.translate('home.features.features_button'), features_path, class: "btn-features animsition-link" %>
        </ul>
      </div>
      <div class="col-sm-6">
        <!-- Mockup & screenshots -->
        <div class="mockup">
          <ul id="screen" class="screen">
            <li id="slide_1" class="active"><img class="slide" src="<%= image_url 'slide_1.jpg' %>"></li>
            <li id="slide_2"><img class="slide" src="<%= image_url 'slide_2.jpg' %>"></li>
            <li id="slide_3"><img class="slide" src="<%= image_url 'slide_3.jpg' %>"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECTION 3 | AWARDS -->
<section class="awards">
  <div class="container">
    <!-- Awards carousel -->
    <div class="row">
      <ul id="awards-list" class="awards-list">
        <li id="award-1" class="active"><img class="award" src="<%= image_url 'awards/award_mit.jpg' %>"></li>
        <li id="award-2"><img class="award" src="<%= image_url 'awards/award_s3c.jpg' %>"></li>
        <li id="award-3"><img class="award" src="<%= image_url 'awards/award_ted.jpg' %>"></li>
        <li id="award-4"><img class="award" src="<%= image_url 'awards/award_ev.jpg' %>"></li>
      </ul>
    </div>
    <!-- Awards infos -->
    <div class="row">
      <ul id="awards-ref-list" class="awards-ref-list">
        <li id="award-ref-1" class="active">
          <div class="award-ref">
            <%= t 'home.awards.awards_mit_html' %>
            <a href="#" class="btn-award"><%= t 'home.awards.awards_button' %></a>
          </div>
        </li>
        <li id="award-ref-2">
          <div class="award-ref">
            <%= t 'home.awards.awards_s3c_html' %>
            <a href="#" class="btn-award animsition-link"><%= t 'home.awards.awards_button' %></a>
          </div>
        </li>
        <li id="award-ref-3">
          <div class="award-ref">
            <%= t 'home.awards.awards_ted_html' %>
            <a href="#" class="btn-award animsition-link"><%= t 'home.awards.awards_button' %></a>
          </div>
        </li>
        <li id="award-ref-4">
          <div class="award-ref">
            <%= t 'home.awards.awards_ev_html' %>
            <a href="#" class="btn-award animsition-link"><%= t 'home.awards.awards_button' %></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- SECTION 4 | TESTIMONIALS -->
<section class="testimonials">
  <div class="testimonials-cover"></div>
  <div class="testimonials-overlay"></div>
  <div class="container">
    <div class="slick-testimonials">
      <!-- From db/testimonials.yml -->
      <% @testimonials[:testimonials].each do |testimonial| %>
        <div>
          <img class="testimonial-witness" src="<%= image_url "testimonials/#{testimonial['picture'] }" %>" alt="logo">
          <span class="testimonial-opinion">"<%= testimonial['content'] %>"</span>
          <span class="testimonial-name"><%= testimonial['firstname'] %> <%= testimonial['lastname'] %></span>
          <span class="testimonial-position"><%= testimonial['position'] %></span>
        </div>
      <% end %>
    </div>
  </div>
</section>
