<% title "Home" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-background">
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
            <h1>Fluicity</h1>
            <span class="index-description">Construisons ensemble</span><br>La ville de demain</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="vision">
  <div class="vision-overlay"></div>
  <div class="container">
    <div class="row">
    bala
    </div>
  </div>
</section>

<div class="cut-quote">
  <div class="cut-cover">
    <div class="container text-center">
      <blockquote><%= t 'index.award.text' %></blockquote>
      <% if I18n.locale == :en || :nl %>
      <a href="http://innovatorsunder35.com/innovator/julie-de-pimodan" rel="" target="_blank"><img class="award-logo" src="<%= image_url 'logo-mit-en.png' %>" alt="logo"></a>
      <% else %>
      <a href="http://innovatorsunder35.com/innovator/julie-de-pimodan" rel="" target="_blank"><img class="award-logo" src="<%= image_url 'logo-mit.png' %>" alt="logo"></a>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/timeline2"%>

<section class="section-video">


<div class="cut-video">
  <div class="cut-cover">
    <div class="container-video">
      <div class="cut-scene-video">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="//www.youtube.com/embed/MxribCVXRuI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="home-wish">
  <div class="container">
    <h2><%= t 'index.calltoaction.text' %></h2>
    <%= link_to new_wish_path do %>
     <%= t 'index.calltoaction.button' %>
    <% end %>
  </div>
</section>
