<div id="carousel-homepage" class="carousel slide" data-ride="carousel" style="float: left">
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/austrian-pavilion.png" %>)">
    </div>
    <div class="item"  style="background-image: url(<%= asset_path "owl-caroussel/fluicity_cover.png" %>)">
    </div>
    <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/houseoflords.png" %>)">
    </div>
     <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/EUPrize.png" %>)">
    </div>
  </div>
</div>

<div class='page-header text-center'>
  <div class='page-header-text'>
    <h1> FLUICITY </h1>

    <div class= "slogan">
      <p> Connecting Cities </p>
    </div>
  </div>

  <div class='header-form form-inline'>
    <%= form_for(@user) do |f| %>
      <%= f.text_field :email, placeholder: "E-mail" %>
      <%= f.collection_select(:city_id, City.all, :id, :name) %>
      <%= f.text_field :role, placeholder: "Quel rôle avez vous?" %>
        <p id="enter_location_error_message" class="bad hide">
        Merci d'entrer un emplacement
        </p>
     <%=  link_to "/thanks", class: "btn btn-primary" do  %>
     Be the first informed
     <% end %>
    <% end %>
  </div>
</div>


</div>

<div class= "container">
  <div class= 'notice'>
    <h1> notice goes there </h1>
  </div>
</div>


<div class= "container">
  <div class='header-form form-inline'>
  <h2> Get notified first </h2>
  <%= form_for(@user) do |f| %>
    <%= f.text_field :email, placeholder: "E-mail" %>
    <%= f.collection_select(:city_id, City.all, :id, :name) %>
    <%= f.text_field :role, placeholder: "Quel rôle avez vous?" %>
      <p id="enter_location_error_message" class="bad hide">
      Merci d'entrer un emplacement
      </p>
   <%=  link_to "/thanks", class: "btn btn-primary" do  %>
   Be the first informed
   <% end %>
  <% end %>
</div>