<div id="carousel-homepage" class="carousel slide" data-ride="carousel" style="float: left">
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/austrian-pavilion.png" %>)">
    </div>
    <div class="item"  style="background-image: url(<%= asset_path "owl-caroussel/fluicity_cover.png" %>)">
    </div>
     <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/zaha-hadid-hd.jpg" %>)">
    </div>
    <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/peter-fritz.png" %>)">
    </div>
  </div>
</div>

<div class='page-header text-center'>
  <div class='page-header-text'>
    <p> CONNECTING CITIES </p>
  </div>

  <div class='header-form form-inline'>
    <%= form_for(@user) do |f| %>
      <%= f.text_field :email, placeholder: "E-mail" %>
      <!-- Include Google Maps JS API -->
      <input id="user_input_autocomplete_address" name="city" placeholder="Votre ville...">
      <%= f.collection_select :role, @roles, :value, :text, {}, { class: "form-control" } %>
        <p id="enter_location_error_message" class="bad hide">
        Merci d'entrer un emplacement
        </p>
      <%=  f.submit class: "btn btn-primary" do  %>
        Soyez le premier informé!
      <% end %>
    <% end %>
  </div>
</div>

<div class="container text center home-section">

  <div class = "row ">

    <div class="col-sx-12 col-sm-4 engage">
      <h2> ENGAGEMENT </h2>
      <i class="icon fa fa-volume-up"></i>
      <p> Fluicity est une plateforme de communication clé en main pour les villes souhaitant ENGAGER les citoyens dans la prise de décision publique.</p>
    </div>

    <div class = "col-sx-12 col-sm-4 include">
      <h2> PARTICIPATION </h2>
      <i class=" icon fa fa-share-alt"></i>
      <p> Nous digitalisons, formatons et analysons les données publiques pour inclure dans l'ensemble des parties prenantes dans un débat civil interactif.</p>
    </div>

    <div class = "col-sx-12 col-sm-4 decide">
     <h2> IMPACT LOCAL</h2>
     <i class=" icon fa fa-flag text-center"></i>
     <p> Nos clients sont les municipalités et des collectivités LOCAL, idéalement placées pour intégrer les canaux de démocratie participative dans la prise de DECISION. </p>
    </div>

  </div>
</div>


