
<header id="#cover">
  <!-- <div id="carousel" class="carousel slide" data-ride="carousel" style="float: left">
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/austrian-pavilion.png" %>)"></div>
      <div class="item"  style="background-image: url(<%= asset_path "owl-caroussel/fluicity_cover.png" %>)"></div>
      <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/zaha-hadid-hd.jpg" %>)"></div>
      <div class="item active" style="background-image: url(<%= asset_path "owl-caroussel/peter-fritz.png" %>)"></div>
    </div>
  </div> -->

  <div class="header-background">
    <div class="header-cover">
      <div class="container">
        <div class="row header-content">
          <div class="col-sx-12 col-sm-4">
            <h1>Connecting Citizen</h1>
            <p>Fluicity propose aux collectivités locales une plateforme clés en main et un service spécialisé permettant aux élus locaux d’engager facilement les citoyens dans la prise de décisions publiques</p>
            <a href="#timeline" alt="Timeline">En savoir plus</a>
          </div>
          <div class="col-sx-12 col-sm-8">
            <div class="responsive-container">
              <iframe width="640" height="360" src="//www.youtube.com/embed/CDwTUbs2YTI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/newsletter"%>

</header>

<section class="container-fluid home-section">
  <div class="row">
    <div class="col-sx-12 col-sm-12 introduction">
      <h1>Un service publique plus efficace, plus collaboratif</h1>
    </div>
    <div class="col-sx-12 col-sm-4">
      <h2 class="frame">ENGAGEMENT</h2>
      <i class="icon fa fa-users fa-2"></i>
      <p class="frame"> Fluicity est une plateforme de communication et de gestion de données clé en main pour les villes souhaitant ENGAGER les citoyens dans la prise de décision publique.</p>
    </div>
    <div class = "col-sx-12 col-sm-4">
      <h2 class="frame">PARTICIPATION</h2>
      <i class="icon fa fa-signal fa-3"></i>
      <p class="frame"> Nous digitalisons, formatons et segmentons les données publiques pour inclure l'ensemble des parties prenantes dans un débat civil interactif.</p>
    </div>
    <div class = "col-sx-12 col-sm-4 ">
      <h2 class="frame">IMPACT LOCAL</h2>
      <i class="icon fa fa-crosshairs fa-2"></i>
      <p class="frame"> Nos clients sont les municipalités et des collectivités LOCALES, acteurs clé de la démocratie participative et capables d'utiliser les opinions citoyennes pour adapter leur DECISIONS. </p>
    </div>
  </div>
</section>

<%= render "shared/timeline"%>
