<% title "Home" %>
<% meta_description %>

<header id="#cover">
  <div class="header-background">
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
            <h1><%= t 'index.catchline' %></h1>
            <p class="index-description"><%= t "index.description"%></p>
            <%= render "shared/newsletter"%>
            <a href="#timeline" alt="Timeline"><%= t 'index.button' %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-sx-12 col-sm-4">
        <div class="home-issue">
          <div id="circle1"></div>
          <span class="issue-stat count"><%= t 'index.first_alarm.stat' %></span>
          <p class="issue-description"><%= t 'index.first_alarm.description' %></p>
          <span class="issue-source"><%= t 'index.first_alarm.source' %></span>
        </div>
      </div>
      <div class = "col-sx-12 col-sm-4">
        <div class="home-issue">
          <div id="circle2"></div>
          <span class="issue-stat count"><%= t 'index.second_alarm.stat' %></span>
          <p class="issue-description"><%= t 'index.second_alarm.description' %></p>
          <span class="issue-source"><%= t 'index.second_alarm.source' %></span>
        </div>
      </div>
      <div class = "col-sx-12 col-sm-4">
        <div class="home-issue">
          <div id="circle3"></div>
          <span class="issue-stat count"><%= t 'index.third_alarm.stat' %></span>
          <p class="issue-description"><%= t 'index.third_alarm.description' %></p>
          <span class="issue-source"><%= t 'index.third_alarm.source' %></span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="cut-quote">
  <div class="cut-cover">
    <div class="container text-center">
      <blockquote><%= t 'index.award.text' %></blockquote>
      <% if I18n.locale == :en || :nl %>
      <a href="http://innovatorsunder35.com/innovator/julie-de-pimodan" rel="" target="_blank"><img class="award-logo" src="<%= image_url 'logo-mit-en.png' %>" alt="logo"></a>
      <% else %>
      <a href="http://innovatorsunder35.com/innovator/julie-de-pimodan" rel="" target="_blank"><img class="award-logo" src="<%= image_url 'logo-mit.png' %>" alt="logo"></a>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/timeline2"%>

<section class="section-video">


<div class="cut-video">
  <div class="cut-cover">
    <div class="container-video">
      <div class="cut-scene-video">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="//www.youtube.com/embed/MxribCVXRuI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="home-wish">
  <div class="container">
    <h2><%= t 'index.calltoaction.text' %></h2>
    <%= link_to new_wish_path do %>
     <%= t 'index.calltoaction.button' %>
    <% end %>
  </div>
</section>
