<% title "Press" %>
<% meta_description %>
<% meta_image %>

<section class="section-press">
  <div class="press-cover">
    <div class="container">
      <ul>
        <% @article[:posts].each do |post| %>
        <li class="article">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-2">
                <img src="<%= image_url "press/#{post['image']}" %>" alt="logo" class="article-logo">
              </div>
              <div class="col-sm-10">
                <span class="article-name"><a href= "<%= post['link'] %>" rel=""><%= post['title'] %></a></span>
                <span class="article-date"><%= post['media'] %> - <%= t 'press.publication' %> <%= l post['date'], format: :default %></span>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>