<% title "Press" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'>Presse</em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-press">
  <div class="container press-container">
    <ul>
      <% @article[:posts].each do |post| %>
        <li>
          <a href= "<%= post['link'] %>" rel="" class="animsition-link">
            <div class="article-details">
              <img src="<%= image_url "press/#{post['image']}" %>" alt="logo">
              <div class="article-info">
                <span class="article-name"><%= post['title'] %></span>
                <span class="article-date"><%= post['media'] %> - <%= t 'press.publication' %> <%= l post['date'], format: :default %></span>
              </div>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</section>