<% title "Team" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'>Notre équipe</em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-team">
    <div class="container-fluid">
      <ul id="members">
        <% @team[:members].each do |member| %>
          <li id="member-card">
            <div class="member-info">
              <img src="<%= image_url "team/#{member['picture']}" %>" alt="logo" class="article-logo">
              <div class="member-details">
                <h3><%= member['firstname'] + " " + member['lastname'] %></h3>
                <span><%= member['position'] %></span>
              </div>
            </div>
            <div id="member-description" class="member-description description-hidden">
            <div class="shapes-member"></div>
            <img src="<%= image_url "team/#{member['picture']}" %>" alt="logo" class="article-logo">

                <h3><%= member['firstname'] + " " + member['lastname'] %></h3>
                <span><%= member['position'] %></span>

              <p><%= member['description'] %></p>
            </div>
          </li>
        <% end %>
      </ul>
  </div>
</section>