<% title "Vision" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'><%= t 'vision.vision_header' %></em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="vision">
  <div class="inside-vision">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- VISION -->
          <h2><%= t 'vision.vision_title' %></h2>
          <%= t 'vision.vision_content_html' %>
          <!-- RESPONSIVE VIDEO BLOCK -->
          <h2><%= t 'vision.vision_videotitle' %></h2>
          <div class="video-wrapper">
            <iframe width="560" height="315" src="//www.youtube.com/embed/MxribCVXRuI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            <iframe width="560" height="315" src="http://www.wat.tv/embedframe/109278chuPP3r12726197" frameborder="0" ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<a href="/features">
  <div class="next-page">
    <div class="next-overlay"></div>
      <span><%= t 'next.features' %></span>
    </div>
  </a>
</a>

