<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,600' rel='stylesheet' type='text/css'>
    <title>Fluicity</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %>-<%= controller.action_name %>">

  <%= render "shared/navbar"%>

  <%= yield %>

  <%= render "shared/footer"%>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAnInNCmJEkZBxn_qwwNPyIt_ZnZGB7GrU" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

  <%= javascript_include_tag "application" %>

  <%= yield(:js) %>

  </body>
</html>


