<!DOCTYPE html>
<html>
  <head>
    <title>Fluicity</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= render "shared/navbar"%>

  <%= yield %>

  <%= render "shared/footer"%>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAnInNCmJEkZBxn_qwwNPyIt_ZnZGB7GrU">
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  </body>
</html>
